body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url('./spots.svg');
  background-size: cover;
}

h2 {
  color: #85144b;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 30px;
  background-color: #FFFFFF;

}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 400px;
  height: 350px;
  background-color: rgb(0, 96, 128);
  border: 5px solid rgb(0, 96, 128);
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.yellow {
  background-color: #FFDC00;
}

.red {
  background-color: #FF4136;
}

button {
  border: transparent;
  background-color: #DDDDDD;
  padding: 5px;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #AAAAAA;
}

button:active {
  transform: translateY(3px);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 200px;
}

.player1 {
  color: #FFDC00;
}

.player2 {
  color: #FF4136;
}

.winner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgb(100, 100, 100, 0.9);
  border-radius: 5px;
  padding: 20px;
}